DATABASE_URL=postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres
SUPABASE_JWT_SECRET=
SUPABASE_URL=https://[project-ref].supabase.co
FRONTEND_URL=http://localhost:5173
APP_ENV=development
PORT=8080
